<!-- 
/**
 *  __          __  _    _____ _____  ______ 
 *  \ \        / / | |  |_   _|  __ \|  ____|
 *   \ \  /\  / /__| |__  | | | |  | | |__   
 *    \ \/  \/ / _ \ '_ \ | | | |  | |  __|  
 *     \  /\  /  __/ |_) || |_| |__| | |____ 
 *      \/  \/ \___|_.__/_____|_____/|______|
 *                                                                            
 *  @author André Ferreira <andrehrf@gmail.com>
 *  @license MIT
 */
-->
<div class="wi-tabs">
    <div class="wi-tabs-list">
        <div class="wi-btn-menu float-left">
            <button class="wi-btn"><i class="fa fa-cog"></i></button>
            <div class="wi-menu">
                <div class="wi-menu-divide"></div>
                <div class="wi-menu-item"><%%= __('Logout') %%></div>
            </div>
        </div>
        <div class="wi-tabs-list-itens">
                
        </div>
    </div>
    <div class="wi-tabs-contents">
        
    </div>
</div>
